<div ng-controller="articleController" ng-init='init()'>

    <table class="table">

        <thead>
        <tr>
            <th scope="col">Author</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="article in articles">
            <td>{{article.author}}</td>
            <td><a  ng-href="/#articleDetail/{{article.id}}">{{article.title}}</a></td>
            <td>{{article.category}}</td>
        </tr>
        </tbody>

<!--        ng-href="#/course"-->
<!--        href="/articles/{{article.id}}-->
    </table>







    <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
</div>





</div>